@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?873bvr');
  src:  url('fonts/icomoon.eot?873bvr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?873bvr') format('truetype'),
    url('fonts/icomoon.woff?873bvr') format('woff'),
    url('fonts/icomoon.svg?873bvr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-triangle-left:before {
  content: "\e901";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin2:before {
  content: "\eaca";
}
